* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    
    }

 body {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* .tester{
    background-image: url('background.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
} */

.jumbotron{
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-color: grey;
    
    /* border-radius: 2px solid black; */
}





